{% extends 'core/base.html' %}
{% block title %}Главная{% endblock title %}
{% block header %}Главная{% endblock header %}
{% block content %}
     <div class="container d-flex justify-content-center align-items-center">
    <h1>Добро пожаловать!!</h1>
     </div>
    <div class="container d-flex justify-content-center align-items-center">

        <div class="container">
          <div class="row justify-content-center">
            <div class="col-md-4">
              <div class="card text-center">
                <div class="card-body">
                  <h5 class="card-title">Количество рассылок</h5>
                  <p class="card-text">{{ mailings.count }}</p>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card text-center">
                <div class="card-body">
                  <h5 class="card-title">Активных рассылок</h5>
                  <p class="card-text">{{ active_mailings.count  }}</p>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card text-center">
                <div class="card-body">
                  <h5 class="card-title">Количество клиентов</h5>
                  <p class="card-text">{{ clients.count }}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
    <div class="container d-flex justify-content-center align-items-center m-3">
    {% for article in articles %}
            <div class="col-5">
                <div class="card mb-4 rounded-3 shadow-sm">
                    <div class="card-header py-3">
                        <h5 class="my-0 fw-normal">{{ article.title }}</h5>
                    </div>
                    <div class="card-body">
                        <img class="card-img" src="{{ article.image.url }}" alt="картинка">
                        <ul class="list-unstyled mt-3 mb-4">
                            <li>{{ article.content|truncatechars:100 }}</li>
                        </ul>
                        <div class="btn-group mb-2">
                              <a href="#" class="btn btn-sm btn-outline-primary">Читать</a>
                        </div>
                        <div class="card-footer">
                            Просмотры: {{ article.views }}
                        </div>
                    </div>
                </div>

    {% endfor %}

{% endblock content %}